# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_pZF1svH7Iion@ep-little-glade-aovgwbmb-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Auth
AUTH_SECRET="215c46172042211b5e10301615203f3ee2448e5b2b52e10141b3c25351a5f"
AUTH_CALLBACK_URL="http://localhost:3000/api/auth/callback"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="575656491fa611b435a405b142e5d35394463422d1739374ef405b17492114"